{{> project_info project}}

{{#if logged_in}}
<form class="comment-form">
     <div>
          <textarea name="comment-body"></textarea>
     </div>
     <div>
          <button type="submit">add comment</button>
     </div>
</form>
{{/if}}

{{> comments project.comments}}

{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}